<div class="col-md-6 col-md-offset-3">
  <div class="panel panel-default">
    <div class="panel-body">
      <h2 class="article-title"><%= @article.title %></h2>
      <span class="dropdown">
        <a href="#" class="btn btn-default dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false"><span class="glyphicon glyphicon-cog" aria-hidden="true"></span></a>
          <ul class="dropdown-menu">
            <li><%= link_to "Edit", edit_article_path(@article)%></li>
            <li><%= link_to "Delete", article_path(@article), method: :delete, data: {confirm: "Delete this post?"}, class: "text-danger" %></li>
          </ul> 
      </span>
      <p class="article-description"><%= @article.description %></p>
    </div>
  </div>
</div>



