 
<div class="jumbotron">
  <div class="content">
    <h1>Welcome to Potato !</h1>
    <p>A blogging platform for Potatoes...</p>
    <%= link_to "Sign Up", "signup", class: "btn btn-success" %>
    <%= link_to "Or Sign In", "signin" %>
  </div>
</div>
