 
<div class="jumbotron home-bg">
  <div class="content">
    <p>I almost forgot</p>
    <h1>Here's a Potato...</h1>
    <%= link_to "Sign Up", "signup", class: "btn btn-success" %>
    <%= link_to "or Sign In", "signin" %>
  </div>
</div>
