html { height: 100%; }

body {
    min-height:100%; 
    position:relative; 
    padding-bottom: 80px;
    background-color: #eee;
    position: relative;

}
/*
===============================
    Navigation
===============================
*/
.navbar {
  border-radius: 0 !important;
}

/*
===============================
    Jumbotron
===============================
*/
.jumbotron {
  
  background-size: cover;
  min-height: 70vh;
}

.content {
  display: inline-block;
  padding: 10px;
  background-color: #eee;
  border-radius: 5px;
}

/*
===============================
    Footer
===============================
*/
.footer {
    position: absolute; 
    left: 0 ; 
    right: 0; 
    bottom: 0; 

    height: 60px;
    background-color: #f8f8f8;
    border-top: 1px solid #e7e7e7;
    padding-top: 10px;
}

/*
===============================
    Imports
===============================
*/
@import "bootstrap-sprockets";
@import "bootstrap";