html { height: 100%; }

body {
    min-height:100%; 
    position:relative; 
    padding-bottom: 80px;
    background-color: #eee;
    position: relative;

}
/*
===============================
    Navigation
===============================
*/
.navbar {
  border-radius: 0 !important;
}

.navbar-brand > img {
  width: 25px;
  height: 25px;
}
/*
===============================
    Home
===============================
*/
.home-bg {
  background-image: url('/potato-bg.jpeg');
  background-size: cover;
  min-height: 70vh;
}

.content {
  display: inline-block;
  padding: 10px;
  background-color: rgba(236, 240, 241, .5);
  border-radius: 5px;
   box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
}

.about-bg {
  background-image: url('/potato-dead.jpeg');
  background-size: cover;
  min-height: 70vh;
}

/*
===============================
    Footer
===============================
*/
.footer {
    position: absolute; 
    left: 0 ; 
    right: 0; 
    bottom: 0; 

    height: 60px;
    background-color: #f8f8f8;
    border-top: 1px solid #e7e7e7;
    padding-top: 10px;
}

/*
===============================
    Article show custom
===============================
*/

.article-title {
  font-style: normal;
  font-size: 32px;
  font-weight: 700;
  display: inline-block;
}

.article-description {
  font-style: normal;
  font-family: Georgia;
  font-size: 18px;
  font-weight: 400;
  line-height: 1.5;
}

.img-rounded {
  position: relative;
  bottom: -20px;
}

.user-header {
  position: relative;
}
.username {
  margin: 10px;
  position: absolute;
  bottom: 0;
}

/*
===============================
    Custom Sign In & Sign Up Button
===============================
*/

.button {
}

.signup {
  background-color: #5cb85c !important;
  color: #fff !important;
  padding: 6px 12px !important;
  margin: 6px 3px;
  border: 2px solid #5cb85c;
  border-radius: 4px;
}

.signup:hover {
  background-color: #4cae4c !important;
  border-color: #4cae4c !important;
}

.signin {
  padding: 6px 12px !important;
  margin: 6px 3px;
  color: #337ab7 !important;
  border: 2px solid transparent;
  border-radius: 4px;
}

.signin:hover {
  background-color: #eee !important;
  border: 2px solid #eee;
}

/*
===============================
    label
===============================
*/

.label {
  margin-right: 5px;

}
.label > a {
  color: #fff !important;
}

.label > a:hover {
  text-decoration: none;
}

/*
===============================
    Imports
===============================
*/

@import "bootstrap-sprockets";
@import "bootstrap";