<footer class="footer">
  <div class="container text-center">
    <small>Copyright Potato Blog 2017 &copy;</small>
    <small>| <a href="https://github.com/xNavid/potato-blog">GitHub</a></small>
    <small>| <%= link_to "About", "about"%></small>
  </div>
</footer>
